/* CSS Document */
body{
	font-family: Microsoft Yahei;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.adminBody{
	background-color:rgb(218,222,227);
}
ul li{
	list-style:none;
}
textarea{
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
	padding:10px;
	border:1px solid #e1e1e1;
	font-family:Microsoft Yahei;
}
.main {
	width:960px;
	margin:0px auto;
}
.admin_main {
	width:1200px;
	margin:0px auto;
}
.title1{
	font-size:20px;
	color:#1A7AAA;
}
.title2{
	font-size:18px;
	color:#1A7AAA;
}
.title3{
	font-size:16px;
	color:#1A7AAA;
}
.input_text{
	width:300px;
	height:30px;
	line-height:30px;
	border:#e1e1e1 1px solid;
}
.confirm_bt{
	width:100px;
	height:30px;
	line-height:30px;
	font:14px Microsoft Yahei;
	border:none;
	cursor:pointer;
	background-color:#2d9dd5;
	color:white;
	outline:none;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.confirm_bt:hover{
	background-color:#1A7AAA;
	color:white;
}
.a_bt_rig{
	display:inline-block;
	height:30px;
	line-height:30px;
	cursor:pointer;
	border:1px solid #2d9dd5;
	color:#2d9dd5;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.a_bt_rig:hover{
	background-color:#1A7AAA;
	color:white;
}
.a_bt_err{
	display:inline-block;
	height:30px;
	line-height:30px;
	cursor:pointer;
	border:1px solid rgb(200,50,50);
	color:rgb(200,50,50);
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.a_bt_err:hover{
	background-color:rgb(200,50,50);
	color:white;
}
.mg_t10{
	margin-top:10px;
}
.mg_t20{
	margin-top:20px;
}
.mg_b10{
	margin-bottom:10px;
}
.mg_l10{
	margin-left:10px;
}
.mg_r10{
	margin-right:10px;
}
.width200{
	width:200px;
}
.width50{
	width:50px;
}
.width430{
	width:430px;
}
.colorOrange{
	color:rgb(254,119,0);
}
.new_head{
	height:45px;
	line-height:45px;
	background-color:rgb(233,233,233);
	font-size:18px;
	color:rgb(45,157,213);
	padding-left:20px;
}
.new_head .close{
	float:right;
	font-size:22px;
	color:rgb(240,20,20);
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid rgb(240,20,20);
	-moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
	cursor:pointer;
	margin:10px;
}
.new_head .close:hover{
	color:white;
	background-color:rgb(240,20,20);
}